asn1crypto==0.24.0
astroid==1.6.6
backports.functools-lru-cache==1.6.1
certifi==2020.4.5.1
chardet==3.0.4
configparser==4.0.2
cryptography==3.2
enum34==1.1.10
futures==3.1.1
idna==2.9
ipaddress==1.0.17
isort==4.3.21
keyring==10.6.0
keyrings.alt==3.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
oauthlib==3.1.0
pycrypto==2.6.1
Pillow==5.2.0
pylint==1.9.5
PySocks==1.7.1
pyxdg==0.25
requests==2.23.0
requests-oauthlib==1.3.0
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.14.0
tweepy==3.8.0
urllib3==1.25.9
wrapt==1.12.1
